@page "/GetFXFCustByAbbr";
@inherits GetFXFCustByAbbrBase

@attribute [Authorize]
@*<body style="padding-top:20px">*@
<div class="container-fluid">

	@if (modelView == null)
	{
		<div class="spinner"></div>
	}
	else
	{
		@*Section 1 - Title *@
		<div class="row ">
			<div class="col-sm-6">
				<div class="panel panel-primary" style="color: blue; border-color: #ffffff; ">
					<div class="panel-body"><h4>Search Customer by Customer Abbreviation</h4></div>
				</div>
			</div>
		</div>

		@*Section 2 - Parameters*@
		<div class="row">
			<div class="col-sm-4">
				<EditForm Model="@searchModel" OnValidSubmit="@SearchClick">
					<DataAnnotationsValidator />
					<ValidationSummary />

					<table class="table table-sm table-bordered table-primary Col-Head-Left">
						<tbody thead class="thead-light">
							<tr>
								<td><label for="Id" class="col-form-label">Customer Abbr</label></td>
								<td>
									<InputText class="form-control-sm" placeholder="Customer Abbr." @bind-Value="searchModel.CustAbbr" />
									<ValidationMessage For="@(() => searchModel.CustAbbr)" />
								</td>
							</tr>
							<tr>
								<td><label for="Id" class="col-form-label">Branch No</label></td>
								<td>
									<InputText class="form-control-sm" placeholder="Branch No" @bind-Value="searchModel.BranchNo" />
									<ValidationMessage For="@(() => searchModel.BranchNo)" />
								</td>
							</tr>
						</tbody>
					</table>
					<div class="well">
						<button class="btn btn-outline-primary m-1 float-left btn-width-80" type="submit">Search</button>
						<button class="btn btn-outline-info m-1 float-left btn-width-80" @onclick="CopyClick">Copy</button>
						<button class="btn btn-outline-primary m-1 float-left btn-width-80" @onclick="BackClick">Back</button>
					</div>
				</EditForm>
			</div>
		</div>


		@*Section 3 - list display*@
		<div name="SelectedReport" class="row col-sm-12 ">
			<table class="table table-sm table-striped table-hover table-primary" id="tblData">
				<thead class="table-primary Col-Head-Center">
					<tr>
						<th>Short Name</th>
						<th>Abbreviation</th>
						<th>Dept Code</th>
						<th>Tax Code</th>
						<th>IBOS NO</th>
						<th>Location</th>
						<th>CCIF</th>
						<th>Category</th>
						<th>Email</th>
						<th>Country</th>
						<th>Active</th>
						<th>Status</th>
						<th>Deletion Status</th>
					</tr>
				</thead>
				<tbody Class="table-active Row-Cell">
					@foreach (var item in modelView)
					{
						<tr>
							<td>@item.SHORTNAME</td>
							<th>@item.Abbreviation</th>
							<th>@item.DeptCode</th>
							<th>@item.TaxCode</th>
							<th>@item.IBOSNO</th>
							<th>@item.Location</th>
							<th>@item.CCIF</th>
							<th>@item.Category</th>
							<th>@item.Email</th>
							<th>@item.Country</th>
							<th>@item.Active</th>
							<th>@item.STATUS</th>
							<th>@item.DeletionStatus</th>
						</tr>
					}
				</tbody>
			</table>
		</div>

	}
</div>
@*the component take two parameters*@
<ConfirmYes @ref="ComfirmationComponent"
			ConfirmationChanged="ConfirmClick"
			ConfirmationTitle=@($"FX Customer")
			ConfirmationMessage=@($"No FX Customer found.")
			BtnClass=@($"btn btn-primary float-left")
			YesTitle=@($"Ok")>
</ConfirmYes>
@*</body>*@