@page "/GetLoanTransactionByCcyDates"
@inherits GetLoanTransactionByCcyDatesBase

@attribute [Authorize]

@*<body style="padding-top:20px">*@
<div class="container-fluid">

	@if (modelView == null && SelectedCcyCode != "")
	{
		<div class="spinner"></div>
	}
	else
	{
		@*Section 1 - Title *@
		<div class="row ">

			<div class="col-sm-6">
				<div class="panel panel-primary" style="color: blue; border-color: #ffffff; ">
					<div class="panel-body"><h4>Search Loan Transactions by CCY & Dates</h4></div>
				</div>
			</div>
		</div>

		@*Section 2 - Parameters*@
		<div class="row">
			<div class="col-sm-4">

				<table class="table table-sm table-bordered table-primary Col-Head-Left">
					<tbody thead class="thead-light">
						<tr>
							<td colspan="1"><label for="Id" class="col-form-label">CCY</label></td>
							<td colspan="1">
								<select class="form-control-sm form-select-sm" @bind="SelectedCcyCode">
									<option value="USD">USD</option>
									<option value="AUD">AUD</option>
									<option value="NZD">NZD</option>
									<option value="SGD">SGD</option>
									<option value="JPY">JPY</option>
									<option value="EUR">EUR</option>
									<option value="HKD">HKD</option>
									<option value="GBP">GBP</option>
								</select>
							</td>
						</tr>
						<tr>
							<td colspan="2"><label for="Id" class="col-form-label">Start Date</label></td>
						</tr>
						<tr>
							<td><label for="Id" class="col-form-label">From</label></td>
							<td><input type="date" class="form-control-sm" @bind="SelectedDateFrom" /></td>	
						</tr>
						<tr>
							<td><label for="Id" class="col-form-label">To</label></td>
							<td><input type="date" class="form-control-sm" @bind="SelectedDateTo" /></td>
						</tr>
					</tbody>
				</table>

				<div class="well">
					<button class="btn btn-outline-primary m-1 float-left btn-width-80" @onclick="SearchClick">Search</button>
					<button class="btn btn-outline-info m-1 float-left btn-width-80" @onclick="CopyClick">Copy</button>
					<button class="btn btn-outline-primary m-1 float-left btn-width-80" @onclick="BackClick">Back</button>
				</div>
			</div>
		</div>


		@*Section 3 - list display*@
		<div name="SelectedReport" class="row col-sm-12 ">
			<table class="table table-sm table-striped table-hover table-primary" id="tblData">
				<thead class="table-primary Col-Head-Center">
					<tr>
						<th>REF NO</th>
						<th>TRANS NO</th>
						<th>CUST NAME</th>
						<th>START DATE</th>
						<th>DUE DATE</th>
						<th>DAYS</th>
						<th>DD CCY</th>
						<th>DD AMOUNT</th>
						<th>REPAY CCY</th>
						<th>REPAY AMOUNT</th>

						<th>INT RATE</th>
						<th>INTERNAL RATE</th>

						<th>SPREAD</th>
						<th>INT COLLECTED</th>
						<th>Status</th>
						<th>REMARKS</th>
					</tr>
				</thead>
				<tbody Class="table-active Row-Cell">
					@foreach (var item in modelView)
					{
						<tr>
							<td>@item.REF_NO</td>
							<th>@item.TRANS_NO</th>
							<th>@item.CUST_NAME</th>
							<th>@item.START_DATE</th>
							<th>@item.DUE_DATE</th>
							<th>@item.DAYS</th>
							<th>@item.DRAW_CCY</th>
							<th>@item.DRAW_AMT</th>
							<th>@item.REPAY_CCY</th>
							<th>@item.REPAY_AMT</th>
							<th>@item.INT_RATE</th>
							<th>@item.INTERNAL_RATE</th>
							<th>@item.SPREAD</th>
							<th>@item.INT_AMT</th>
							<th>@item.STATUS</th>
							<th>@item.REMARKS</th>
						</tr>
					}
				</tbody>
			</table>
		</div>

	}
</div>
@*the component take two parameters*@
<ConfirmYes @ref="ComfirmationComponent"
			ConfirmationChanged="ConfirmClick"
			ConfirmationTitle=@($"Loan Transaction")
			ConfirmationMessage=@($"No Loan Transaction found.")
			BtnClass=@($"btn btn-primary float-left")
			YesTitle=@($"Ok")>
</ConfirmYes>
@*</body>*@
