@page "/GetMxEucBalanceEventByRefNo"
@attribute [Authorize]

<div class="container-fluid">
	<div class="card">
		@*Section 1 - Title *@
		<div class="card bg-primary text-white">
			<div class="card-header">
				<h4>MxInbound Events by Reference No</h4>
			</div>
		</div>

		@*Section 2 - Search*@
		<div class="card-body">
			@*Section 2 - Parameters*@
			<div class="row">
				<div class="col-sm-4">

					<EditForm Model="@searchModel" OnValidSubmit="@SearchClick">
						<DataAnnotationsValidator />
						<ValidationSummary />

						<table class="table table-sm table-bordered table-primary Col-Head-Left">
							<tbody thead class="thead-light">
								<tr>
									<td><label for="Id" class="col-form-label">GUIDE Reference No</label></td>
									<td>
										<InputText class="form-control" placeholder="GUIDE Reference No" @bind-Value="searchModel.RefNo" />
										<ValidationMessage For="@(() => searchModel.RefNo)" />
									</td>
								</tr>
								<tr>
									<td><label for="Id" class="col-form-label">Updated Date</label></td>
									<td><input type="date" class="form-control" @bind="SelectedOptDate" /></td>
								</tr>
							</tbody>
						</table>

						<div class="well">
							<button class="btn btn-outline-primary m-1 float-left btn-width-80" type="submit">Search</button>
						</div>
					</EditForm>
					<div class="well">
						<button class="btn btn-outline-info m-1 float-left btn-width-80"  @onclick="(()=>CopyClick())">Copy</button>
						<button class="btn btn-outline-primary m-1 btn-GoBack" @onclick="(()=>BackClick())">Back</button>
					</div>
				</div>
			</div>
		</div>

		@*Section 3 - list display*@
		<div class="card-footer">
			@if (modelView == null && searchModel.RefNo != "")
			{
				<div class="spinner"></div>
			}
			else
			{

				<div class="row">
					<div class="col-sm-12">
						<div name="SelectedReport" class="table-wrapper-scroll-y my-custom-scrollbar" style="height:700px;">
							@*Section 4 - list via TableTemplate*@
							<TableTemplate Items="modelView.ToList()">
								<TableHeader>
									<th>Event Id</th>
									<th>Status</th>
									<th>Category</th>
									<th>EventType</th>
									<th>Ref No</th>
									<th>Customer Abbr</th>
									<th>Trade Date</th>
									<th>Nominal Amount</th>
									<th>Settlement Amount</th>
									<th>Currency</th>
									<th>Borrow & Lend</th>
									<th>Closing Date</th>
									<th>Maturity Date</th>
									<th>Batch No</th>
								</TableHeader>
								<RowTemplate Context="item">
									<td>@item.EventId</td>
									<td>@item.Status</td>
									<td>@item.Category</td>
									<td>@item.EventType</td>
									<td>@item.GbaseReferenceNo</td>
									<td>@item.CustomerAbbreviation</td>
									<td>@item.TradeDate</td>
									<td>@item.NominalAmount</td>
									<td>@item.SettlementAmount</td>
									<td>@item.Currency</td>
									<td>@item.BorrowOrLend</td>
									<td>@item.ClosingDate</td>
									<td>@item.MaturityDate</td>
									<td>@item.BatchNo</td>
								</RowTemplate>
								<TableFooter>
									<th>Event Id</th>
									<th>Status</th>
									<th>Category</th>
									<th>EventType</th>
									<th>Ref No</th>
									<th>Customer Abbr</th>
									<th>Trade Date</th>
									<th>Nominal Amount</th>
									<th>Settlement Amount</th>
									<th>Currency</th>
									<th>Borrow & Lend</th>
									<th>Closing Date</th>
									<th>Maturity Date</th>
									<th>Batch No</th>
								</TableFooter>
							</TableTemplate>
						</div>
					</div>
				</div>
						
			}
		</div>
	</div>

	<ConfirmationBox Title="@Title"
					 Message="@Message"
					 YesButtonText="@YesButtonText"
					 NoButtonText="@NoButtonText"
					 InfoButtonText="@InfoButtonText"
					 BtnClass="@BtnClass"
					 ConfirmationChanged="Save"  
					 InformationChanged="OkClick"
					 IsVisible="IsVisible"
					 IsInformationOnly="IsInformationOnly">
	</ConfirmationBox>
</div>



@inject IHttpService<MxEucBalanceEventView> _httpService ;
@inject IJSRuntime IJSRuntime ;
@inject NavigationManager navigationManager ;

@code {
	public IEnumerable<MxEucBalanceEventView> modelView { get; set; } = new List<MxEucBalanceEventView>();

	public DateTime SelectedOptDate { get; set; } = DateTime.Today;
	//public string SelectedRefNo { get; set; } = "";

	// ** Variables for confirmation box
	public string Title { get; set; }
	public string Message { get; set; }
	public string YesButtonText { get; set; }
	public string NoButtonText { get; set; }
	public string InfoButtonText { get; set; }
	public bool IsVisible { get; set; }
	public bool IsInformationOnly { get; set; }
	public string BtnClass { get; set; }
	// ** End

	protected override void OnInitialized()
	{
		Title = "MxInbound Events";
		Message = "Do you want to save?";
		YesButtonText = "Yes";
		NoButtonText = "No";
		InfoButtonText = "OK";
		BtnClass = "btn btn-primary float-left";
	}

	protected GBASESearchModel searchModel = new()
		{
			RefNo = ""
		};

	protected async Task SearchClick()
	{
		//if ((searchModel.RefNo == "")) return;

		modelView = null;
		string refNo = searchModel.RefNo;
		string optDate = SelectedOptDate.ToString("yyyy-MM-dd");
		//modelView = (await _httpService2.GetEUCBalanceEventByRefno(refNo, optDate)).ToList();
		modelView = (await _httpService.GetAllAsync($"api/EUCBalanceEvents/GetEUCBalanceEventByRefno/{refNo}/{optDate}", null)).ToList();

		if (modelView.Count() == 0)
		{
			IsVisible = true;
			IsInformationOnly = true;
			Message = "No records found.";
		}
	}
	protected void Save(bool IsSave) { IsVisible = IsSave; }
	protected void OkClick() => IsVisible = false;
	protected async Task CopyClick()
	{
		await IJSRuntime.InvokeAsync<object>("selectElementContents", "SelectedReport");
		await IJSRuntime.InvokeVoidAsync("alert", "Now you can paste the context to excel file.");
	}
	protected void BackClick() => navigationManager.NavigateTo($"/MxInbound");

}